.App {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

/* LandingPage.js styles */

#landingPageContainer {
  background-color: #D8F6E3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@font-face { 
  font-family: "poppins-bolditalic"; 
  src: url('./assets/fonts/Poppins-BoldItalic.ttf') format("truetype");
 } 

.title {
  font-family: "poppins-bolditalic";
  font-size: 10vh;
  color: #6357e6;
  animation-duration: 2s;
  animation-name: slideUp;
  margin-bottom: 3vh;
}


@font-face { 
  font-family: "poppins-semibold"; 
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format("truetype");
 } 


#startButton {
  background-color: white;
  font-family: "poppins-semibold";
  color: #1DB954;
  font-size: 2vh;
  border: none;
  border-radius: 1vh;
  padding: 0vh 2vh;
  margin-bottom: 15vh;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation-duration: 2s;
  animation-name: slideUp;
}

#buttonText {
  margin-left: 1vh;
}


.wave {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30vh;
  width: 200%;
  border-radius: 1000% 1000% 0 0;
}

.wave:nth-of-type(1) {
  background: #B8EECB; 
  z-index: 1;
  animation: wave 8s -5s ease-in reverse infinite;
}

.wave:nth-of-type(2) {
  background: #7AD99C;
  z-index: 2;
  bottom: -5vh;
  animation: wave 12s ease-in reverse infinite;
}

.wave:nth-of-type(3) {
  background: #41C870;
  opacity: 0.8;
  z-index: 3;
  bottom: -12vh;
  animation: wave 5s -1s linear alternate infinite;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

/* Insights.js styles */

.insightsContainer {
  background-color: #D8F6E3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#loader {
  width: 10vh;
	height: 10vh;
	margin: 0vh auto 5vh;
	border: solid 1.5vh #6357e6;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
  transition: all 1s ease-in;
  animation: rotate 1s linear infinite;
}

#loaderText {
  font-family: "poppins-semibold";
  color: #1DB954;
  font-size: 3vh;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to { 
      transform: rotate(360deg);
  }
}


#userProfileContainer {
  background-color: #D8F6E3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes slideDown {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

#arrowWrapper {
  animation: slideDown 1.5s infinite alternate;
}

.downArrow {
  background: none;
  border-left: none;
  border-top: none;
  border-right: 1vh solid #1DB954; 
  border-bottom: 1vh solid #1DB954;
  height: 5vh;
  width: 5vh;
  transform: rotate(45deg);
  cursor: pointer;
}

.description {
  font-family: "poppins-semibold";
  color: #8F86FF;
  font-size: 3vh;
}

.topContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.titleContainer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DFDCFF;
}

.subtitle {
  color: #8F86FF;
  font-size: 5vh;
  font-family: "poppins-bolditalic";
  animation: slideUp 2s;
}

.topItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh
}

.grid {
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2%;
}

.topItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  background-color: #B8EECB;
  width: 90%;
  border-radius: 1vh;
}

.item {
  display: flex;
}

.mainText {
  font-family: "poppins-semibold";
  color: #1DB954;
  font-size: 2.5vh;
}

#toTracksArrow {
  border-right: 1vh solid #6357e6; 
  border-bottom: 1vh solid #6357e6;
}











