.App {
  text-align: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.grid-item img {
  justify-self: center;
}












